.container{
    height: 390px;
}
.category{
    background: #fff;
}
.singleCategory{
    /*height: 370px;*/
    /*background: red;*/
    /*width: 100%;*/
    /*display: inline-block;*/
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cell{
    width: 20%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}
.imgWrap{
    background: #eee;
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.img{
    width: 6rem;
}
.name{
    font-size: 2.2rem;
    color: #7a7a79;
    margin-top: 5px;
}
.spanContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.spanOn{
    display: inline-block;
    background: #f0394f;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin:0 10px;
}
.spanOff{
    display: inline-block;
    background: #eee;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin:0 10px;
}