.homeHeaderContainer{
    background: #ff6633;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    font-size:2.5rem;
    color: #fff;
    padding:1rem;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}
.arrowDown{
    width: 3.5rem;
    height: auto;
}
.searchDiv{
    background: #fff;
    height: 80px;
    width: 60%;
    border-radius: 50px;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}
.searchIcon{
    width: 4rem;
    height: auto;
}
.searchInput{
    border: none;
    height: 100%;
}

.userIcon{
    width: 3.5rem;
    margin-right: 30px;
}